


[submodule "vendor/glog"]
	path = vendor/glog
	url = git@github.com:google/glog.git

[submodule "vendor/gflags"]
	path = vendor/gflags
	url = git@github.com:gflags/gflags.git

[submodule "vendor/flatbuffers"]
	path = vendor/flatbuffers
	url = git@github.com:google/flatbuffers.git

[submodule "vendor/readerwriterqueue"]
	path = vendor/readerwriterqueue
	url = git@github.com:cameron314/readerwriterqueue.git
[submodule "vendor/libSDL2pp"]
	path = vendor/libSDL2pp
	url = git@github.com:jeb2239/libSDL2pp.git
[submodule "vendor/asio"]
	path = vendor/asio
	url = git@github.com:chriskohlhoff/asio.git
