[submodule "SDL2pp"]
	path = vendor/SDL2pp
	url = git@github.com:jeb2239/libSDL2pp.git
	branch = PongNet
[submodule "Flatbuffers"]
    path = vendor/flatbuffers
    url = git@github.com:google/flatbuffers.git
[submodule "Gflags"]
    path = vendor/gflags
    url = git@github.com:gflags/gflags.git
[submodule "Glog"]
    path = vendor/glog
    url = git@github.com:google/glog.git
[submodule "asio"]
	path = vendor/asio
	url = git@github.com:chriskohlhoff/asio.git

[submodule "readerwriterqueue"]
	path = vendor/readerwriterqueue
	url = git@github.com:cameron314/readerwriterqueue.git
[submodule "vendor/readerwriterqueue"]
	path = vendor/readerwriterqueue
	url = git@github.com:cameron314/readerwriterqueue.git
